<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<!-- xmlns: th="http://thymeleaf.org" - указывает на то что мы используем Thymeleaf --->
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
</head>
<body>

<div th:each="person : ${people}">
<!-- В Thymeleaf есть некоторое подобие цикла for-each, этот тег <div с аргументом th:each при таком
 синтаксисе проходится по коллекции и указываем временную переменную, которая будет указывать на
  каждый элемент в этой коллекции. В теле тега создаем еще один тег, для создания ссылки не человека и
  указываем что user должен меняться на то имя, которое мы получили с помощью геттера от person.
  Для замены user на пришедшее имя используем th:text, затем (в коде перед этим) с помощью
  th:href и вот такого синтаксиса "@{/people/{id}(id=${person.getId()})}" мы делаем имя активной
  ссылкой, с указанием адреса на который нужно перейти, где {id} принимает в качестве аргумента то
  значение id, которое пришло для person через геттер.
  После чего нужно будет закрыть тег </div> --->
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}">user</a>
</div>

</body>
</html>